.header {
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: var(--theme);
    font-size: 1.3rem;

    &__previous{
        display: flex;
        flex-flow: row nowrap;
        color: var(--theme);

        .arrow {
            border: 1px solid var(--theme);
            border-right-style: none;
            border-bottom-style: none;
            transform: rotate(-45deg);
            width: 15px;
            height: 15px;
            position: relative;
            top: 2px;
        }

    }
}