.menu-view {
    &__main {
        display: flex;
        flex-flow: column nowrap;

        & > a {
            color: #fff;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }
}